$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@use "bulma/sass" with (
  $hero-body-padding-tablet: 2rem 2rem 0em 2rem,
  $menu-item-radius: 0,
  $notification-radius: 0,
);
