@import 'bulma-custom';
@import 'mixings';
@import 'bulma/bulma';

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";
.is-wide{
  width: 30em;
}

.buttons{
  margin-top: 1em;
}

// headers
.is-1{
  margin-bottom: 10px;
}

.max-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4;
  -webkit-box-orient: vertical;
}
.container{
 margin: 2em;
}

.summary {
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5;
  -webkit-box-orient: vertical;
}

.nowrap{
    white-space: nowrap;
}

.scrollable {
  width: 100%;
  white-space: pre-wrap; /* Preserve whitespace and wrap long lines */
  overflow-y: auto;      /* Add vertical scrollbars when content overflows */
  height: 250px;
  width: 100%;
  margin-top: 2px;
}

